.responsive-table{
    width: 80%;
    max-width: 650px;
    margin: 40px auto;
    border: 2px solid #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



td{
    border:1px solid #000;
    padding: 10px;

}

@media (max-width: 768px) {
    .responsive-table{
        width: 70%;
        font-size: 14px;
    }
    td{
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .responsive-table{
        font-size: 14px;
        width: 90%;
    }
   td{
    padding: 3px;
   }
}

.empty{
    width: 400px !important;
}
@media (max-width:480px) {
    .empty{
        width: 200px !important;
    }
}
.full{
    width:500px ;
}
caption{
    border: 1px solid #000;
}
